<div class="card">
  <div class="card-body">
      <h1 class="card-title">Reset Password</h1>

      <div *ngIf="showError && errorMessage != ''" class="alert alert-danger" role="alert">
          <span [innerHTML]="errorMessage"></span>
      </div>

      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
      </div>

      <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
          <div class="mb-3 row">
              <label for="password" class="col-form-label col-sm-2">Password:</label>
              <div class="col-md-5">
                  <input type="password" id="password" formControlName="password" class="form-control" />
              </div>
              <div class="col-md-5">
                <em
                class="invalid-text"
                *ngIf="
                  Control('password').invalid &&
                  Control('password').touched &&
                  hasError('password', 'required')
                "
                >Password is required </em
              >
              <em
                class="invalid-text"
                *ngIf="
                  Control('password').invalid &&
                  Control('password').touched &&
                  hasError('password', 'minlength')
                "
                >Password at least has 7 characters </em
              >
              <em
                class="invalid-text"
                *ngIf="
                  Control('password').invalid &&
                  Control('password').touched &&
                  hasError('password', 'hasNonAlphaNumeric')
                "
                >Passwords must have at least one non alphanumeric character </em
              >
              <em
                class="invalid-text"
                *ngIf="
                  Control('password').invalid &&
                  Control('password').touched &&
                  hasError('password', 'hasCapitalCase')
                "
                >Passwords must have at least one uppercase (A-Z) </em
              >
              <em
                class="invalid-text"
                *ngIf="
                  Control('password').invalid &&
                  Control('password').touched &&
                  hasError('password', 'hasNumber')
                "
                >Passwords must have at least one digit (0-9) </em
              >
              </div>
          </div>
          <div class="mb-3 row">
              <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
              <div class="col-md-5">
                  <input type="password" id="confirm" formControlName="confirm" class="form-control" />
              </div>
              <div class="col-md-5">
                  <em class="invalid-text" *ngIf="Control('confirm').invalid && Control('confirm').touched && hasError('confirm', 'required')">Confirmation is required</em>
                  <em class="invalid-text" *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
              </div>
          </div>
          <br>
          <div class="mb-3 row">
              <div class="col-md-1">
                  <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
              </div>
          </div>
      </form>
  </div>
</div>
